
@media screen and (min-width: 0px) and (max-width: 500px) {
    i {
        font-size: 7vw;
    }
    #score {
        left: 8vw;
        font-size: 7vw;
    }
    .cirlce {
        width: 15vw;
        height: 15vw;
    }
    #caica_de_texto_Gameplay > h2 {
        font-size: 4.5dvh;
        margin: 15% 10% 10% 10%;
        color: whitesmoke;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
    }
}