
@media screen and (min-width: 0px) and (max-width: 500px) {
    i {
        font-size: 7vw;
    }
    #score {
        left: 8vw;
        font-size: 7vw;
    }
    .cirlce {
        width: 15vw;
        height: 15vw;
    }
    #caica_de_texto_Gameplay > h2 {
        font-size: 4.5dvh;
        margin: 15% 10% 10% 10%;
        color: whitesmoke;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
    }
    #caica_de_texto_Gameplay > h2 {
        font-size: 4;
    }
    #caica_de_texto_Gameplay > h3 {
        font-size: 3vh;
    }
    #caica_de_texto_Gameplay > p {
        margin: 5% 10% 5% 10%;
        font-size: 2.5vh;
    }
    #caica_de_texto_Gameplay > span {
        margin: 10% 2% auto 2%;
        padding: 5px;
        bottom: 10%;
        font-size: 2.5vh;
    }
}